---
title: false
styles: true
---

@import "alembic";

.page-projects article.article--page h1:first-of-type {
  border-bottom: 1px solid #05bf85; 
  width: 70%;
  font-size: 3rem !important;
  padding-bottom: 0.35em;
  margin-bottom: 1em;
}
/*
h1 {
	font-size: 80%;
}

h2 {
	font-size: 80%;
}
*/
body {
    font-size: 83%;
}

main_headshot {
	margin-top: -800px;
}

.container + .container {
    margin-top: 1em;
}

.top, .bottom {
    height: 10em;
    padding: 2em;
}

a img {
    border-radius: 0;
    display: block;
}

a {
    display: inline;
    text-decoration: underline;
}

.home_img1 {
	position: relative;
	z-index:2;
}

.home_img2{
	position: relative;
	top: -70px;
    left: -300px;
    margin-block: -150px;
}
